
body{
    font-weight: 400; 
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 15px; 
    line-height: 2.2em;
    background-color: #eaeaea;
    color: #7f3c73;

}

nav li a{
    text-align:justify ; 
    font-size: 8px;
    line-height: 1.0 em;
    padding: 10;
    color:#9b9494;
    text-decoration: none;

}

nav li{
    float: right;
    list-style: none;
    padding-inline: 20px;
}

nav ul{
    float: right;
    list-style: none ;
}

nav{
    font-size: 12;
    letter-spacing: 3px;
    height: 30px;
    background-color: #30152b;
    padding-inline: 20px;
    padding-right: 20px;
    padding-block-start: 10p;
    scroll-padding-top: 10px;
}

header{
    
    text-align: center;
    font-size: 100;
    color: #7f3c73;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #d9c5d5;
    padding: 2px;
}

section{
margin: 20px
}

footer{
    background-color: #d9c5d5;
   padding: 2px;
}
h3{
    font-size: 300;
    font-weight: 400; 
    }

table{
        width:100%;
    }

    table td{
        color:#30152b;
        padding: 5px;
    }

    table tr:nth-child(even){
        background-color: #9a8997;
    }
    
    table tr:nth-child(odd){
        background-color: #a881a0;
    }

table thead th{
        background-color: #30152b;
        color:#eaeaea; 
    }

#fotos.figuras figure{
    display: inline-block; 
}

